.hero-section{
    background-image: url('../images/banner.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     width: 100vw;
     height: 160px;
     /* opacity: 0.5; */
     position: relative;
 }
 .hero-section::after{
     position: absolute;
     content: "";
     width: 100vw;
     height: 160px;
     background-color: #21264f;
     opacity: 0.8;
     z-index: 1;
     top: 0;
     left: 0;
 }
 .hero-heading{
     font-family: 'Lora', serif;
     font-size: 4rem;
     width: 60%;
     margin: auto;
     text-align: left;
     color: white;
     padding: 50px;
     z-index: 100;
     position: absolute;
     left: 20%;
     overflow: hidden;
 }
.contact-info{
    padding: 10px;
}
















 
 @media (max-width:760px) {
    .hero-section{
        height: 150px;
    }
    .hero-section::after{
        height: 150px;
    }
    .hero-heading{
        font-size: 2rem;
        width: 80%;
        left: 0;
    }
    .map iframe{
        width: 300px;
        height: 300px;
    }
    .contact-bottom-row{
        display: block;
    }
    .buttons{
        justify-content: center;
     }
   
}

