.hero-section{
    background-image: url('../images/banner.jpg');
     background-repeat: no-repeat;
     background-size:cover;
     width: 100vw;
     height: 160px;
     /* opacity: 0.5; */
     position: relative;
     padding: 20px
 }
 .hero-section::after{
     position: absolute;
     content: "";
     width: 100vw;
     height: 160px;
     background-color: #21264f;
     opacity: 0.8;
     z-index: 1;
     top: 0;
     left: 0;
 }
 .hero-heading{
     font-family: 'Lora', serif;
     font-size: 3rem;
     width: 60%;
     margin: auto;
     text-align: left;
     color: white;
     padding: 50px;
     z-index: 100;
     position: absolute;
     left: 20%;
     overflow: hidden;
 }
 .work-heading, .work-desc{
    color: black;
 }
.work-info{
    display: flex;
}
.expertise-new-row{
    margin: auto;
    width: 80%;
    /* display: flex;
    justify-content: center; */
    /* text-align: center; */
}
.expertise-new-row .col{
    margin: auto;
}
.card{
    margin: auto;
}
.work{
    width: 100vw !important;
    padding: 100px;
    background-color: #e4e6ef;
}





 @media (max-width:768px) {
    .expertise-new-row .col{
        width: 20rem;
    }
    .hero-section{
        height: 150px;
        margin-bottom: 20px;
    }
    .hero-section::after{
        height: 150px;
    }
    .card{
        width: 23rem;
    }
    .hero-heading{
        font-size: 2rem;
        width: 80%;
        left: 0;
    }
    .bredcrumb-two{
        top: 50%;
    }
    .work-info{
        width: 100%;
    }
    .work-heading{
        font-size: 2rem;
    }
}

@media screen and (max-width : 1215px) and (min-width : 907px) {
    .expertise-new-row{
        width: 100%;
    }
    .expertise-new-row .col{
        width: 17rem;
        /* margin: auto; */
    }
}
@media screen and (max-width : 768px) {
    .expertise-new-row{
        width: 80%;
        margin: auto !important;
    }
    .expertise-col{
        width: 20rem !important;
    }
    .work-info{
        display: block;
    }
    .bredcrumb-two{
        bottom: 240px;
    }
}
