html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-section{
   background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    /* opacity: 0.5; */
    position: relative;
}
.hero-section::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 400px;
    background-color: rgb(95, 95, 197);
    opacity: 0.5;
    z-index: 1;
    top: 0;
    left: 0;
}
.hero-heading{
    font-family: 'Lora', serif;
    font-size: 4rem;
    width: 60%;
    margin: auto;
    text-align: left;
    color: white;
    padding: 50px;
    z-index: 100;
    position: absolute;
    left: 20%;
    overflow: hidden;
}
.info-heading{
    font-size: 3rem;
}
.work{
    background-color: #ada9a4;
}
.work-info{
    width: 70%;
    margin: auto;
}
.card-desc{
    height: 300px;
}
.work-heading, .work-desc{
    color: white;
}
.team-img{
    width: 30%;
    /* margin: auto; */
}
.team-specialists{
    display: flex;
    justify-content: space-around;
    background-color: #21264f;
}
.team-info{
    color: white;
    text-align: left;
}
.team-info a{
    color: white;
}
.footer{
    width: 60%;
}


@media screen and (max-width:760px) {
    body{
        width: 100vw;
    }
    h3{
        font-size: 1rem;
    }
    .logo img{
        width: 70%;
    }
    .hero-section{
        height: 200px;
    }
    .hero-section::after{
        height: 200px;
    }
    .hero-heading{
        font-size: 1rem;
        width: 100%;
        left: 0;
    }
    p{
        font-size: 10px;
    }
    
    .info-row{
        display: block;
        width: 14rem;
    }
    .info-heading{
        text-align: left;
        font-size: 1rem;
    }
    /* .work{
        width: 180vw;
    } */
    .work-info{
        width: 100%;
        overflow: hidden;
        margin: auto;
    }
    /* .hsa-workers{
        width: 10rem;
    } */
    .card{
        width: 14rem !important;
        margin: auto;
        right: 40px;
    }
    .footer{
        width: 90%;
        font-size: 11px;
    }
}