body{
    width: 100%;
    box-sizing: border-box;
}

/****************
 GLOBAL STYLES
 ****************/
 .top-nav-container{
    display: flex;
    justify-content: space-between;
}
ul li a{
    font-size: 13px;
}
 .nav-link{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px 10px;
 }
 .nav-link:hover{
    border-bottom: 2px solid gray;
 }
 .nav-contact{
    font-size: 12px;
 }
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Lora', serif;
}
p{
    font-size: 13px;
}









@media (max-width:760px) {
    p{
        font-size: 12px;
    }
}





/****************
 GLOBAL STYLES
 ****************/
