body{
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

/****************
 GLOBAL STYLES
 ****************/
 .top-nav-container{
    display: flex;
    justify-content: space-between;
    position: static;
    background-color: #fff;
    position: sticky;
    /* margin-bottom: 30px; */
    z-index: 111;
    top: 0;
}
.nav-toggle{
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
    /* margin-bottom: 40px; */
}
.nav-ul{
    height: 30px;
    line-height: 3px;
}
ul li a{
    font-size: 13px;
}
 .nav-link{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px 8px;
    color: black;
 }
 .nav-link:hover{
    border-bottom: 2px solid gray;
 }
 .nav-contact{
    font-size: 12px;
 }
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Lora', serif;
}
p{
    font-size: 13px;
}
.bredcrumb{
    position: absolute;
    z-index: 19;
    bottom: -10%;
    left: 25%;
}
.bredcrumb-two{
    position: absolute;
    z-index: 9;
    /* top: 56%; */
    left: 25%;
    /* background-color: black; */
}
.bredcrumb a{
    font-size: 15px;
    color: #ada9a4;
}
.bredcrumb-two a{
    color: #ada9a4;
    font-size: 12px;
    
}
.sm-nav-menu{
    background-color:blueviolet;
    /* width: 0px; */
    height: 100vh;
    display: none;
    transition: 0.2s ease-in;
    position: fixed;
    z-index: 555;
    left: 0;
    top: 0;
}

.sm-nav-menu  ul li{
    font-family: 'Lora' , serif;
    font-size: 40px;
    font-weight: bold;
}
.sm-nav-menu ul li a{
    color: white;
}
.close{
    color: white;
    top: 10px;
    background-color: transparent;
    border: none;
    font-size: 40px;
    left: 350px;
    position: absolute;
}







@media (max-width:760px) {
    p{
        font-size: 12px;
    }
    .navbar-nav{
        text-align: right;
        margin-top: 25x px;
    }
    .bredcrumb{
        bottom: -10%;
    }
    .bredcrumb-two{
        position: absolute;
        z-index: 9;
        top: 56%;
        left: 25%;
        /* background-color: black; */
    }
    
}





/****************
 GLOBAL STYLES
 ****************/
