body{
    width: 100vw;
}

.hero-section{
    background-image: url('../images/banner.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     width: 100vw;
     height: 160px;
     /* opacity: 0.5; */
     position: relative;
 }
 .hero-section::after{
     position: absolute;
     content: "";
     width: 100vw;
     height: 160px;
     background-color: #21264f;
     opacity: 0.8;
     z-index: 1;
     top: 0;
     left: 0;
 }
 .hero-heading{
     font-family: 'Lora', serif;
     font-size: 3.5rem;
     width: 60%;
     margin: auto;
     text-align: left;
     color: white;
     /* padding: 50px; */
     z-index: 100;
     position: absolute;
     /* left: 17%; */
     overflow: hidden;
 }
.team{
    background-color: #e4e6ef;
    /* padding: ; */
}
.team-title{
    width: 70%;
}
.team-card{
    width: 25rem;
    margin: auto;
    border-radius: 0px;
}
.team-row{
    width: 100%;
    margin: auto;
}
@media  screen and (min-width: 768px) {
    .team-card{
        width: 21rem;
    }
    .team-row{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        padding: 70px 10px;
        width: 90%;    
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    
    .team-row{
        /* display: flex; */
        /* grid-template-columns: auto auto; */
        justify-content: space-between;
        /* padding: 70px 10px; */
        /* width: 90%;     */
        margin: auto;
        display: block;
    }
    .team-card{
        width: 40rem !important;
    }
    .team-title h2 br{
        display: none;
    }
    .team-title h2{
        text-align: left;
        font-size: 2rem;
        width: 100%;
    }
}

.card{
    border: none;
    width: 25rem;
}
.card:hover{
    border-bottom: 4px solid #1e1e1e;
    cursor: pointer;
}
/* ul li a:hover{
    /* text-decoration: underline ; */
/* } */ 
@media screen and (max-width:425px) {
    .team-title h2{
        font-size: 1.5rem;
    }
    .bredcrumb-two{
        top: 35%;
        left: 50px;
    }
}

@media screen and (max-width: 425px) {
    .hero-heading{
        font-size: 2rem;
        left: 0;
    }
    .hero-section{
        height: 130px;
    }
    .hero-section::after{
        height: 130px;
    }
    .team-card{
        width: 22rem !important;
        display: block;
    }
    .team-row{
        display: block;
        width: 100%;
    }
    .footer .row{
       display: block;
    }
}

