

.hero-section{
    background-image: url('../images/banner.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     width: 100vw;
     height: 160px;
     /* opacity: 0.5; */
     position: relative;
 }
 .hero-section::after{
     position: absolute;
     content: "";
     width: 100vw;
     height: 160px;
     background-color: #21264f;
     opacity: 0.8;
     z-index: 1;
     top: 0;
     left: 0;
 }
 .hero-heading{
     font-family: 'Lora', serif;
     font-size: 4rem;
     width: 60%;
     margin: auto;
     text-align: left;
     color: white;
     padding: 50px;
     z-index: 100;
     position: absolute;
     left: 20%;
     overflow: hidden;
 }
.team{
    background-color: #e4e6ef;
}
.team-members{
    display: flex;
    justify-content: space-evenly;
    
}
.team-row{
    margin: auto;
}

.card{
    border: none;
}
.card:hover{
    border-bottom: 4px solid #1e1e1e;
    cursor: pointer;
}
/* ul li a:hover{
    /* text-decoration: underline ; */
/* } */ 



@media (max-width:760px) {
    .hero-section{
        height: 250px;
    }
    .hero-section::after{
        height: 250px;
    }
    .hero-heading{
        font-size: 2rem;
        width: 80%;
        left: 0;
    }
}

@media (min-width:700px) {

}