body{
    width: 100vw;
}

.hero-section{
    background-image: url('../images/banner.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     width: 100vw;
     height: 160px;
     /* opacity: 0.5; */
     position: relative;
 }
 .hero-section::after{
     position: absolute;
     content: "";
     width: 100vw;
     height: 160px;
     background-color: #21264f;
     opacity: 0.8;
     z-index: 1;
     top: 0;
     left: 0;
 }
 .hero-heading{
     font-family: 'Lora', serif;
     font-size: 4rem;
     width: 60%;
     margin: auto;
     text-align: left;
     color: white;
     padding: 50px;
     z-index: 100;
     position: absolute;
     left: 20%;
     overflow: hidden;
 }
.team{
    background-color: #e4e6ef;
    /* padding: ; */
}
.team-card{
    width: 25rem;
}
.team-row{
    display: grid;
    grid-template-columns: auto auto;
    /* justify-content: space-evenly; */
    padding: 20px;
    
}
.team-row{
    margin: auto;
    width: 100%;
}

.card{
    border: none;
    /* width: 28rem; */
}
.card:hover{
    border-bottom: 4px solid #1e1e1e;
    cursor: pointer;
}
/* ul li a:hover{
    /* text-decoration: underline ; */
/* } */ 


@media screen and (max-width: 425px) {
    .hero-heading{
        font-size: 35px;
        left: 0;
    }
    .hero-section{
        height: 130px;
    }
    .hero-section::after{
        height: 130px;
    }
    .team-card{
        width: 15rem;
        display: block;
    }
    .team-row{
        display: block;
    }
    .footer .row{
       display: block;
    }
}

@media screen and (max-width: 768px) {
    .team-card{
        width: 18rem;
    }
}