body{
    width: 100vw;
    margin: 0;
    padding: 0;
}
.buttons{
    display: flex;
}
.buttons button{
    border-radius: 0px;
    height: 50px;
    color: black;
}

.buttons button:hover{
    background-color: transparent;
    color: black;
}

.track-hero-section{
    width: 60%;
    /* background-color: yellow; */
}
.track-col .card{
    border-radius: 0px;
    position: relative;
}
.track-col .card img{
    width: 100px;
    margin: auto;
    background-color: transparent;
}
.track-col .card{
    width: 13rem;
    background-color: transparent;
}
.tag{
    background-color: rgb(212, 212, 212);
    width: 35px;
    line-height: 20px;
    height: 32px;
    position: absolute;
    top: -10px;
    right: -10px;
    padding:     5px;
    font-size: 11px;
}

@media screen and (max-width:425px) {
    .track-hero-section{
        width: 90%;
        /* background-color: yellow; */
    }
    .track-col .card{
        width: 20rem;
        background-color: transparent;
    }
    .bredcrumb-two{
        top: 67%;
    }
    .hero-heading{
        font-size: 25px;
        width: 100%;
    }

}
@media (max-width:768px) {
    .hero-heading{
        font-size: 40px;
    }
    .track-col .card{
        /* width: 25rem; */
        background-color: transparent;
    }
}