.top-nav-container{
    display: flex;
    justify-content: space-between;
}
.hero-section{
    background-image: url('../assets/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 400px;
}
.hero-heading{
    font-family: 'Lora', serif;
    font-size: 4rem;
    width: 50%;
    margin: auto;
    text-align: left;
    color: white;
    padding: 50px;
}